.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ---------------------------------------------------------------------------------------------------------- */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}



.nav-link {
    display: block;
    position: relative;
    padding: 24px 0;
    color: #2e2f42;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
    color: #404bbf;
}

.active::after {
    bottom: -1px;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

address {
    font-style: normal;
}



.nav-link:hover,
.address-link:hover,
.nav-link:focus,
.address-link:focus {
    color: #404bbf;
}

/* ---------------------------- */

.hero-container {
    text-align: center;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}

.hero {
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero_background.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    padding: 188px 0;
    background-color: #2e2f42;
}

.order-button {
    line-height: 1.5;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}


.features-box {
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.features-icon {
    display: block;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-list-sub-item {
    margin-top: 8px;
}

.our-team {
    background-color: #f4f4fd;
}

.team-list {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-list-item {
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
}

.employee-name,
.employee-position {
    text-align: center;
}

.employee-name,
.portfolio-name {
    margin-bottom: 8px;
}

.card-container {
    padding: 32px 16px;
}

.employee-social-list {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.employee-social-item {
    width: 40px;
    height: 40px;
}

.employee-social-link:hover,
.employee-social-link:focus {
    background-color: #404bbf;
}

.employee-social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-social-icon {
    fill: #f4f4fd;
}

.portfolio-list {
    margin-top: 72px;
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-description {
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px 0 32px;
    position: absolute;
    top: 0;
    color: #f4f4fd;
    background: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-description {
    transform: translateY(0);
}

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-info {
    margin-right: 120px;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;
}

.footer-text {
    max-width: 264px;
}

.footer-logo,
.footer-text {
    color: #f4f4fd;
}

.social-media {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-icon {
    fill: #f4f4fd;
}

.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    color: #fff;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.subscribe-input {
    color: #fff;
    background-color: transparent;
    padding: 8px 16px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.subscribe-input::placeholder {
    color: #fff;
}

.subscribe-input:focus {
    border-color: #31d0aa;
}

.subscribe-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #31d0aa;
}

.subscribe-icon {
    fill: #fff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%) scale(0.5);
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}

.modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    height: 24px;
    width: 24px;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #e7e9fc;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #fff;
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}

.modal-input-wrapper:nth-child(4) {
    margin-bottom: 16px;
}

.modal-input {
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    border-radius: 4px;
    height: 120px;
    padding: 8px 16px;
    min-height: 120px;
    resize: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.textarea-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-input::placeholder,
.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-input-icon-wrapper {
    position: relative;
}

.modal-icon {
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
    margin-bottom: 24px;
}

.checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked+.checkbox {
    border-color: #4d5ae5;
    background-color: #4d5ae5;
}

.checkbox-icon {
    fill: transparent;
    opacity: 0;
    transition:
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked+.checkbox .checkbox-icon {
    fill: #f4f4fd;
    opacity: 1;
}

.checkbox-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.checkbox-link:hover,
.checkbox-link:focus {
    color: #404bbf;
}

.modal-submit-button {
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
    background-color: #404bbf;
}